flows.json
[{"id":"fb1567f.3453898","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"4144f5d3.66ae9c","type":"ui_form","z":"fb1567f.3453898","name":"","label":"","group":"9f9a6f49.97d28","order":3,"width":9,"height":2,"options":[{"label":"Enter the Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter the Query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"name":"","input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":300,"wires":[["c8a6ee87.ad3dc"]]},{"id":"c8a6ee87.ad3dc","type":"function","z":"fb1567f.3453898","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["88e7ff2.240d5","6a7987d1.fd98a8"]]},{"id":"88e7ff2.240d5","type":"watson-conversation-v1","z":"fb1567f.3453898","name":"","workspaceid":"08e02cbc-de4e-4c36-a9e4-20aafdf55566","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6d42d2e1-3eda-46ec-9c35-07a756d6b12a","timeout":"","optout-learning":false,"x":420,"y":140,"wires":[["c1c5b284.c80ee","befffac8.67d458"]]},{"id":"befffac8.67d458","type":"function","z":"fb1567f.3453898","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["c1570357.42b7c"]]},{"id":"c1c5b284.c80ee","type":"debug","z":"fb1567f.3453898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":80,"wires":[]},{"id":"c1570357.42b7c","type":"ui_text","z":"fb1567f.3453898","group":"a1412519.338ac8","order":1,"width":10,"height":8,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":280,"wires":[]},{"id":"6a7987d1.fd98a8","type":"ui_text","z":"fb1567f.3453898","group":"9f9a6f49.97d28","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":320,"wires":[]},{"id":"9f9a6f49.97d28","type":"ui_group","z":"","name":"Query Input","tab":"ab074fbe.75633","order":1,"disp":true,"width":"9","collapse":false},{"id":"a1412519.338ac8","type":"ui_group","z":"","name":"Answers","tab":"ab074fbe.75633","order":3,"disp":true,"width":"10","collapse":false},{"id":"ab074fbe.75633","type":"ui_tab","z":"","name":"TAB","icon":"dashboard","disabled":false,"hidden":false}]